@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-white: #ffffff;
  --color-nav: #1b263b;
  --color-border: #959595;
  --color-feature: #1b263b27;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}
